@page
@model RazorPagesRecipe.Pages.Ingredients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="pageTitle">
    <h2>Ingredient Details</h2>
</div>

<div class="whiteBox">
    <div id="ingredientDetailsBox">
        Name: <h6>@Html.DisplayFor(model => model.Ingredient.Name)</h6>
        Amount per Serving: <h6>@Html.DisplayFor(model => model.Ingredient.Amount)</h6>
        Prep Instructions: <h6>@Html.DisplayFor(model => model.Ingredient.Instructions)</h6>
        Recipe: <h6>@Html.DisplayFor(model => model.Ingredient.Recipe.Name)</h6>
    </div>
    <a class="button" asp-page="./Edit" asp-route-id="@Model.Ingredient.ID" id="tableButton">Edit</a>
    <a class="button" asp-page="./Index" id="tableButton">Back to List</a>
</div>
