@page
@model RazorPagesRecipe.Pages.Ingredients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="pageTitle">
    <h2>Ingredients Index</h2>
</div>
<div class="whiteBox">
    <a class="button" asp-area="" asp-page="Create" id="createButton">Create New</a>

    <form class="searchForm">
            Name:&nbsp;&nbsp;<input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" class="button" id="tableButton" />
    </form>
</div>

<table class="table table-striped" id="ingredientTable">
    <thead class="tableHeader">
        <tr>
            <th>
                Ingredient Name:
            </th>
            <th>
                Amount per Serving:
            </th>
            <th>
                Prep Instructions:
            </th>
            <th>
                Recipe:
            </th>
            <th style="width: 25%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ingredient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recipeName)
            </td>
            <td>
                <a class="button" asp-page="./Edit" asp-route-id="@item.ID" id="tableButton">Edit</a>
                <a class="button" asp-page="./Delete" asp-route-id="@item.ID" id="tableButton">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>
