@page
@model RazorPagesRecipe.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

    <div class="pageTitle">
        <h2>Recipe Details</h2>
    </div>

    <div class="whiteBox">
        <div id="recipeDetailsBox">
            <h4>
                @Html.DisplayFor(model => model.Recipe.Name)
            </h4>
            <h6>
                @Html.DisplayFor(model => model.Recipe.Meal)
            </h6>
            <p>
                Created on: <b>@Html.DisplayFor(model => model.Recipe.CreationDate)</b>
            </p>
        </div>
        <h5>Information:</h5>
        <p>
            @Html.DisplayFor(model => model.Recipe.Information)
        </p>
        <hr />
        <h5>Ingredients:</h5>
        <table class="table table-striped" id="ingredientTable">
            <thead class="tableHeader">
                <tr>
                    <th>
                        Ingredient Name
                    </th>
                    <th>
                        Amount per Serving
                    </th>
                    <th>
                        Prep Instructions
                    </th>
                </tr>
            </thead>
            @foreach (var ingredient in Model.Recipe.Ingredients)
            {
                <tr>
                    @await Html.PartialAsync("../Ingredients/_viewIngredients", ingredient)
                </tr>
            }
        </table>
        <a class="button" asp-area="" asp-page="../Ingredients/Create" id="smallCreateButton">Add Ingredients</a>
        <a class="button" asp-area="" asp-page="./Edit" asp-route-id="@Model.Recipe.ID" id="tableButton">Edit</a>
        <a class="button" asp-area="" asp-page="./Index" id="tableButton">Back to List</a>
    </div>
