@page 
@model RazorPagesRecipe.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <div class="pageTitle">
        <h2>All Recipes</h2>
    </div>
    <div class="whiteBox">
        <a class="button" asp-area="" asp-page="/Recipes/Create" id="createButton">Create New</a>

        <form class="searchForm">
                Meal:&nbsp;&nbsp;<select asp-for="SelectedMeal" asp-items="Model.Meals">
                    <option value="">All</option>
                </select>&nbsp;&nbsp;|&nbsp;
                Name:&nbsp;&nbsp;<input type="text" asp-for="SearchString" />
                <input type="submit" value="Filter" class="button" id="tableButton" />
        </form>
    </div>

<table class="table table-striped" id="ingredientTable">
    <thead class="tableHeader">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Meal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Information)
            </th>
            <th style="width: 25%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                <a class="button" asp-area="" asp-page="./Edit" asp-route-id="@item.ID" id="tableButton">Edit</a>
                <a class="button" asp-area="" asp-page="./Details" asp-route-id="@item.ID" id="tableButton">Details</a>
                <a class="button" asp-area="" asp-page="./Delete" asp-route-id="@item.ID" id="tableButton">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
